html{
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/bats.gif");
    padding-left: 30px;
}

header{
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    border-bottom: 5px solid black;
}

body {
	max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 10px black;
    padding: 0px;
    box-shadow: 0 9px 18px 9px;
   
}

footer{
    font-size: 80%;
    text-align: center;
    background-image: linear-gradient(45deg, black 0%, orange 75%, white 100%);
    border-top: 5px solid black;
    padding: 25px;
}

  li{    
   line-height: 20px;
}

header img{
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}


a:link{
    color: darkorange;
}

a:hover{
    color: green;
}

.sidenav {
    height:auto;
    width:10em;
    position: fixed;
    z-index:1;
    top:11.5em;
    margin-top:0em;
    overflow-x: hidden;
    padding-top:0em;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 100%;
  color: darkorange;
  display: block;
}

.sidenav1 {
    height:auto;
    width:10em;
    position: fixed;
    z-index:1;
    right: 0em;
    top:11.5em;
    margin-top:0em;
    overflow-x: hidden;
    padding-top:0em;
    background-color: #f5deb3;
    padding-right: 5em;
    margin-right: 4em;
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 100%;
  color: black;
  display: block;
    padding-left: 10px;
}

.main {
  padding-left: 10em;
    padding-right: 8em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkorange;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  background-color: darkorange;
  border: solid black;
  color: black;
    width: 130px;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}
